.cover {
  width: 100vw;
  margin-bottom: 12vw;
  display: flex;
}

.cover:nth-child(1) {
  margin-top: 25vh;
  transform: rotate(-2deg);
  background-color: #ff3796;
}

.cover:nth-child(2) {
  transform: rotate(2deg);
  background-color: #ecfe04;
  justify-content: flex-end;
}

.cover:nth-child(3) {
  transform: rotate(-2deg);
  background-color: #000;
  color: #fff;
}

.cover:nth-child(4) {
  transform: rotate(2deg);
  background-color: #fff;
  border: 1px solid #000;
  justify-content: flex-end;
  margin-bottom: 30vh;
}
.first-parallel,
.second-parallel,
.third-parallel,
.forth-parallel {
  display: flex;
  padding: 4vh 0;
  font-size: clamp(2vw, 8vw, 5rem);
}
