/* global */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
:root {
  /* color */
  --color-bg-white: #ffffff;
  --color-black: #333333;
  --color-red-color: #ff4200;
  --color-green-color: #4eac62;
  --color-bg-gray: #efefef;
  /* font size */

  /* font weight */
}

/* universal tags */
* {
  box-sizing: border-box;
}
/* typography */
html,
body {
  max-width: 100%;
  height:100%;
  font-size: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
iframe {
  width: 100%;
  height: 100%;
}
h1 {
  color: var(--color-red-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 15vw;
  text-align: center;
}
h2 {
  font-size: 10rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
/* layout */
.visual{background: #000;width:100vw;height:100vh;}
.inner {
  width: 120rem;
  margin: 0 auto;
}
/* navbar */
#navbar {
  position: fixed;
  background: transparent;
  width: 100%;
  top: 0;
  padding: 2rem;
  font-weight: 900;
  color: var(--color-black);
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}
#navbar.navbar--dark {
}
#navbar.navbar--dark img:nth-child(1) {
  transition: all 1s ease;
  opacity: 0;
}
#navbar.navbar--dark img:nth-child(2) {
  transition: all 1s ease;
  opacity: 1;
}
#navbar .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  position: relative;
  top: -3rem;
}
.navbar__logo img {
  transition: all 1s ease;
  width: 10rem;
  position: absolute;
  top: 0;
}
.navbar__logo img:nth-child(2) {
  opacity: 0;
}
.navbar__menu {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}
.navbar__menu__item {
  position: relative;
  padding: 0.8rem 1.2rem;
  margin: 0 0.8rem;
  cursor: pointer;
  transition: all 1s ease-out;
}
.navbar__menu__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  margin-top: 4px;
  transition: all 500ms ease-out;
}
.navbar__menu__item:hover {
  color: var(--color-red-color);
}
.navbar__menu__item.active {
  color: var(--color-red-color);
}
.navbar__menu__item.active::after,
.navbar__menu__item:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  margin-top: 4px;

  background: var(--color-red-color);
}
.navbar__toggle {
  display: none;
}
.visual .slide .slider {
  font-family: "Montserrat", sans-serif;
  margin-top: 7.2rem;
  position: relative;
  width: 100%;
  height: 100rem;
  text-align: center;
  color: #ff4200;
  overflow: hidden;
}
.flog {
  background: #4eac62;
}
.visual_div {
  position: relative;
  width: 100%;
  height:100%;
  font-weight: 700;
  letter-spacing: -0.25rem;
  padding: 1rem;
  box-sizing: border-box;
}
.visual_div > img:nth-child(1) {
  position: absolute;
  bottom:0;
  left: 71%;
  transform: translate(-50%, 0);
}
.visual_div > img:nth-child(2) {
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%, 0);
}
.visual_div > div:nth-child(1) {
  padding-top: 5rem;
  font-size: 15vw;
  font-weight: 900;
}
.mainvideo{position: absolute;top:0;width:100%;}
.flog_div > div:nth-child(1) {
  font-size: 10vw;
  color: #fff;
}
.flogmask {
  font-weight: 500;
  width: 120rem;
  margin: 5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flogmask div:nth-child(1) {
  flex: 1;
  font-size: 2.4rem;
  line-height: 2;
  color: #fff;
  text-align: left;
}
.flogmask div:nth-child(2) {
  flex: 1;
  position: relative;
  top: 0;
  background: #faffd3;
  overflow: hidden;
  transition: all 1s ease;
  border-radius: 1rem;
}
.flogmask div:nth-child(2) img {
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
}
.visual .slick-active .flogmask div:nth-child(2) img {
  animation: flogani 1s 1s ease-in-out both;
}

@keyframes flogani {
  0% {
    top: 20rem;
  }
}
.visual .slide li .txt {
  padding: 20rem 0;
  font-size: 3rem;
  line-height: 1.5;
  color: #333;
  letter-spacing: -0.25rem;
}
.home__contact {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 15%;
  font-size: 2rem;
  text-decoration: none;
  color: #ff4200;
  letter-spacing: -0.25rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 30px;
  background: #fff;
  border: 3px solid #ff4200;
}
.contactbutton{
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 15%;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
  letter-spacing: -0.25rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 30px;
  background: #4eac62;
  border: 3px solid #fff;
}

/*슬라이드버튼*/

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 20;
  background: none;
  width: 11rem;
  height: 5rem;
  border: none;
  font-size: 0;
  color: #333;
}
.slick-next {
  right: 0rem;
}
.slick-prev::before {
  font-size: 2rem;
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.slick-next::before {
  font-size: 2rem;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
/*인디케이터*/
.visual .slide .slick-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.visual .slide .slick-dots >li {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 1.5rem;
  overflow:visible;
}
.visual .slide .slick-dots li button {
  border-radius: 50%;
  background: #fff;
  border: 2px solid #ff4200;
  text-indent: -9999px;
  outline:none;
}
.visual .slide .slick-dots li.slick-active button {
  background: #ff4200;
}

/*슬라이드애니메이션*/
.visual .slick-slide.slick-current.slick-active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #ff4200;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: bar 7s linear both;
}
@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*텍스트애니메이션*/
.visual .slick-active .splitting .char {
  display: inline-block;
  animation: slide-up 1s ease both;
  animation-delay: calc(60ms * var(--char-index));
}
@keyframes slide-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#resume {
  background: var(--color-bg-gray);
  padding: 20rem 10rem;
  font-size: 1.8rem;
  line-height: 3rem;
}
.resume_div {
  position: relative;
  padding-left: 5rem;
  padding-bottom: 3rem;
}
.resume_div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 2px;
  height: 100%;
  background: #ddd;
}
.resume_div h4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: var(--color-bg-white);
  border: 5px solid var(--color-green-color);
}
.resume_div h4 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: var(--color-green-color);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
/* #work h2::after {
  content: "";
  display: block;
  width: 5%;
  margin: 0 auto;
  height: 2px;
  background: var(--color-black);
  margin-top: 2rem;
} */
.content{display: flex;width:100%;flex-wrap: wrap;padding-bottom:10rem;}
.tabs {
  display: flex;
  justify-content: center;
  margin: 10rem 0 2rem;
}
.tab-link {
  list-style: none;
  padding: 2rem 4rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  background: #efefef;
}
.tab-link.active {
  background: #ff4200;
  color: #fff;
}
.work__projects {
  max-width: 160rem;
  margin: 0 auto;
  display: none;
}
.work__projects.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project,
.project1 {
  position: relative;
  width: 30rem;
  height: 25.7rem;
  margin: 0.2rem;
}
.project:hover .project__desc,
.project1:hover .project__desc {
  opacity: 0.5;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all linear 0.3s;
}

.project__desc h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  padding: 1rem;
  margin: 0;
}
.project__desc span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}
/* contact */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #333;
  line-height: 1.5;
  background: #fafbfc;
}
#contact > .inner > div:nth-child(1) {
  font-size: 6rem;
  font-weight: 900;
}
#contact > .inner > div:nth-child(4) {
  text-align: center;
  font-size: 2rem;
}
.email > i,
.phone > i {
  margin-right: 2rem;
}
.phone > a {
  text-decoration: none;
  color: #333;
}
.modal__background {
  overflow: hidden;
  background: #333;
  width: 100%;
  height: 100%;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  position: fixed;
  top: 100%;
  left: 0;
  text-align: left;
  z-index: 2000;
}
.modal {
  background: #fff;
  width: 100%;
  height: 100%;
}
.modal > div > button {
  position: absolute;
  top: 0;
  right: 50px;
  background: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20rem;
  font-weight: 500;
  color: #fff;
  background: #959595;
}
.modal__background.open {
  top: 0;
}

/* 모바일 */
@media screen and (max-width: 450px) {
  body{overflow-x: hidden;min-height:100%;}
  #navbar {
    width: 100%;
  }
  .inner {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  #navbar {
    padding: 2rem 0;
    background:#fff;
  }
  .navbar__logo {
    position: absolute;
    top: 1rem;
    left: 0;
  }
  .navbar__menu::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }
  .navbar__menu {
    width: 100%;
    margin-top: -10rem;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
  }
  .navbar__menu.active {
    opacity: 1;
    margin-top: 8rem;
    visibility: visible;
    background: #fff;
    padding-bottom: 2rem;
  }
  .navbar__toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-self: center;
  }
  .navbar__toggle.open span {
    background: rgba(0, 0, 0, 0);
  }
  .navbar__toggle > span {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    margin: 0 auto;
    height: 5px;
    background: rgba(0, 0, 0, 1);
    color: transparent;
    border-radius: 20rem;
  }
  .navbar__toggle > span::before,
  .navbar__toggle > span::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 5px;
    background: rgba(0, 0, 0, 1);
  }
  .navbar__toggle > span::before {
    top: -10px;
  }
  .navbar__toggle > span::after {
    top: 10px;
  }
  .navbar__toggle.open > span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .navbar__toggle.open > span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  /* 비쥬얼영역 */
  
  .visual{height:100%;}
  .visual_div {padding-top:20%;}
  .slick-slider,.slick-list,.slick-track{height:100%;}
  .visual_div > div:nth-child(1) {
    font-size: 25vw;
  }
  .visual_div > div:nth-child(1) > span {
    display: block;
  }
  .visual_div > img:nth-child(2) {
    width: 25%;
  }
.visual .slide .slider{
    margin-top:0;
    height:calc(100% - 4px);
  }
  .visual .slide li .txt {
    padding: 5rem 0;
    font-size: 2rem;
  }
  .visual .slide li a {
    font-size: 1.4rem;
  }
  .visual .slide .slick-dots {
    height:30px;
    bottom: 5vh;
  }
  .home__contact,
  .contactbutton{
    font-size:1.6rem;
    bottom:12vh;
    letter-spacing:0.25px;
  }
  .slick-prev::before,
  .slick-next::before {
    display: none;
  }
  .flog_div > div:nth-child(1) {
    padding-top: 2rem;
    font-size: 15vw;
  }
  .flogmask {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flogmask div:nth-child(1) {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    letter-spacing:1.5px;
  }
  .flogmask div:nth-child(2) {
    width: 70%;
  }
  /* 이력서영역 */
  #resume {
    padding: 5rem 2rem;
    font-size: 1.4rem;
  }
  .resume_div {
    padding-bottom: 1rem;
  }
  .resume_div h4 {
    font-size: 2rem;
  }
  h2 {
    font-size: 5rem;
  }
  .tabs{width:100%;}
  .tab-link{padding:3rem 0;font-size:1.4rem;width:25vw;display:flex;justify-content:center;align-items:center;}
  .content,.popupVideo{justify-content:center;;}

  .work__projects {
    max-width: 100%;
    margin: 5rem 0;
  }
  .project,.project1 {
    width: 45%;
    height: auto;
  }
  .project__desc h3{font-size:2rem;}
  .project__desc span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;}
  .modal > div > button {
    right: 2rem;
    font-size: 6rem;
    padding: 2rem;
  }
  #contact {
    font-size: 1.6rem;
  }
  #contact > .inner > div:nth-child(1) {
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 900;
  }
  #contact > .inner > div:nth-child(4) {
    font-size: 1.2rem;
  }
}
.popupVideo {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.video-popup.reveal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index:9
}

.video-popup .video-wrapper {
  position: relative;
  width: 80%;
  padding-bottom: 45%;
  z-index: 10
}

.video-popup .video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-popup.reveal .video-popup-closer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 9}