.wh{color:#fff !important;}
.link_main_section{
    width: 100vw;
    background-image: linear-gradient(90deg, var(--pattern_1) 0px,var(--pattern_1) 1px, transparent 1px, transparent 99px, transparent 100px), linear-gradient(var(--pattern_1) 0px, var(--pattern_1) 1px, transparent 1px, transparent 99px, transparent 100px), linear-gradient(var(--pattern_2) 0px, var(--pattern_2) 1px, transparent 1px, transparent 99px, transparent 100px), linear-gradient(90deg, var(--pattern_2) 0px,var(--pattern_2) 1px, transparent 1px, transparent 99px, transparent 100px), linear-gradient(transparent 0px, transparent 5px, var(--pattern_3) 5px, var(--pattern_3) 95px, transparent 95px, transparent 100px), linear-gradient(90deg, var(--pattern_2) 0px,var(--pattern_2) 1px, transparent 1px, transparent 99px, var(--pattern_2) 99px,var(--pattern_2) 100px), linear-gradient(90deg, transparent 0px, transparent 5px, var(--pattern_3) 5px, var(--pattern_3) 95px, transparent 95px, transparent 100px), linear-gradient(transparent 0px, transparent 1px, var(--pattern_3) 1px, var(--pattern_3) 99px, transparent 99px, transparent 100px), linear-gradient(var(--pattern_1), var(--pattern_1));
    background-size: 100px 100%, 100% 100px, 100% 10px, 10px 100%, 100% 100px, 100px 100%, 100px 100%, 100px 100px, 100px 100px;
  }
  .main_visual {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    margin-top:7vh;

  }
  .visual_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 128rem;
    margin: 0 auto;
  }
  .title_section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .main_title {
    font-size: 4.8rem;
    line-height: 1.4;
    font-weight: 700;
    color: #464555;
  }
  .main_text {
    line-height: 1.4;
    color: rgba(70, 69, 85, 0.6);
    font-weight: 400;
    font-size: 1.8rem;
  }
  .button_container {
    display: flex;
    gap: 8px;
  }
  .get_button {
    background: #6C79F9;
    padding: 1.2rem 2rem;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
  }
  .youtube_button {
    border: 1px solid #6C79F9;
    color: #6C79F9;
    border-radius: 30px;
    padding: 1.2rem 1.6rem;
    min-width: 14rem;
    justify-content: center;
    transition: all 0.3s;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    font-weight: 700;
  }
  .run_on {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .run_on .title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
  }
  .icon_flex_div {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .icon_flex_div li img {
    height: 2rem;
  }
  .visual_section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top:-25vh;
  }
  .visual_section img {
    width: 40%;
  }
  .supporters{width:40%;mix-blend-mode: multiply;}
  .supporters img{width:100%;}
  .link_overview_section{background: #f5f5f5;padding:10rem 0;display: flex;
    flex-direction: column;justify-content: center;align-items: center;gap:4rem;}
  .link_overview_section video{width:50%;}
  .link_overview_desc{font-size:2.8rem;font-weight:700;color:#464555;line-height: 1.5;}
  .mo_nobr{display: block;}
.link_003{padding:15em 0;width:128rem;margin:0 auto;flex-direction: column;gap:4rem;}
  .link_text_container{display: flex;gap:1rem;}
  .link_icon{width:2rem;height:2rem;}
  .link_icon img{width: 100%;object-fit:contain}
  .link_pain_title{font-size:1.6rem;word-break: keep-all;
    color:#D4666A;font-weight:700;text-align: left;line-height: 1.3;}
  .link_solution_title{font-size:1.6rem;color:#1CA61A;font-weight:700;}
  .link_desc{font-size:1.2rem;color:#333;text-align: left;line-height: 1.5;opacity: 0.6;}
  .painpoint_chip{display:inline-flex;font-size:1.6rem;color:#fff;
    padding:0.8rem 1.6rem 1.2rem;background: #D4666A;flex-grow: 0;border-radius:30px;
    flex-basis: content;margin-left:4rem;font-weight:700;}
  .painpoint_chip_invert{background: #FCF7F8;border:1px solid #D4666A;color:#D4666A}
.painpoint_div{
  display: flex;border:2px solid #D4666A;margin-top:-1.6rem;padding:4rem;align-items: center;
  gap:4rem;background:#FCF7F8;width: 91rem;border-radius: 1.2rem;box-shadow:10px 10px 10px rgba(0,0,0,0.1)
}
.pain_invert_div{border:none;background: #D4666A;color:#fff;}
.painpoint_title_container{
  display: flex;align-items: center;gap:1.2rem;width: 34.6rem;;
}
.painpoint_title{font-size:1.6rem;;font-weight: 700;color:#D4666A;}
.painpoint_title_invert{color:#fff;}
.painpoint_desc{font-size:1.3rem;color:#464555;opacity: 0.6;line-height: 1.5;margin-right:auto;}
.painpoint_desc_invert{color:#fff;}
.link_004{display:flex;justify-content: center;flex-direction: column; background: #6C79F9;padding:15rem 0;}
.link_sub_title{font-size:3rem;font-weight:900;margin-bottom: 5rem;color:#464555;}
.link_sub_desc{display: flex;justify-content: center;gap:4rem;}
.link_sub_desc >div:nth-child(1){font-size:2.4rem;font-weight: 700;}
.link_sub_desc >div:nth-child(2){font-size:1.6rem;line-height: 1.5;}
.link004_img001{margin-top:8rem;}
.link004_img001 img{width:100%;}
.link004_img002,.link004_img003{margin:0 auto;width: 100rem;}
.link004_img002 img,.link004_img003 img{width: 100%;}
.link004_002,.link004_003{display: flex;flex-direction: column;gap:2rem;}
.link004_002{margin-top:20rem;}
.link004_003{margin-top:20rem;}
.link_concept_desc{font-size:1.6rem;line-height: 1.5;}
  @media screen and (max-width: 450px) {
    .link_003{width: 100%;}
    .swiper-slide{padding:2rem;}
  }